@use '../global' as g;

.top {
  .imgContainer {
    &--home {
      img {
        @include g.tablet-landscape {
          object-position: center -400px;
        }
      }
    }
  }
}
section {
  margin: 0 0 5rem 0;
  @include g.dynamicMixin("padding", g.$viewPageBasePadding);
  @include g.tablet-landscape {
    margin: 0;
  }

  h2 {
    @include g.dynamicMixin("font-size", g.$sectionTitle);
    font-weight: 800;
    letter-spacing: 0;
    color: #282828;
  }

  p {
    margin: 1rem 0;
    letter-spacing: 0;
    max-width: 535px;
    color: #868686;

    @include g.tablet {
      max-width: 575px;
    }
  }
}

.tools {
  position: relative;
  @include g.tablet {
    display: flex;
    padding: 5rem 8rem;
  }
  @include g.tablet-landscape {
  }
}

$tool: (
  padding: (
    null: 1rem 0,
    g.$mobile: 2rem 0,
    g.$tablet: 0,
  ),
  flex: (
    g.$tablet: 0 0 50%,
  ),
);
.tool {
  @include g.printStyles($tool);

  &--design {
    &::after {
      content: "";
      position: absolute;
      background-color: #051d3a;
      top: 0;
      left: 0;
      right: 0;
      height: 400px;
      @include g.tablet-landscape {
        height: 250px;
      }
    }
  }

  &--frontEnd {
  }
}
$card: (
  position: relative,
  transform: (
    null: translateY(-75px),
    g.$mobile: translateY(-120px),
    g.$tablet: translateY(-80px),
    g.$tablet-landscape: translateY(0),
  ),
  z-index: 1,
  padding: (
    g.$tablet: 0.5rem,
  ),
);
$card__container: (
  min-height: 300px,
  position: relative,
  background-color: white,
  margin: 0 auto,
  padding: (
    null: 3rem 2rem,
    g.$mobile: 3rem,
    g.$tablet-landscape: 3rem,
    g.$desktopSmall: 3rem,
  ),
  border-radius: 12px,
);
$card__text-title: (
  margin: (
    null: 0 0 0.5rem 0,
  ),
  font-size: (
    null: 2rem,
    g.$mobile: 2.2rem,
  ),
);
$card__text-altTitle: (
  font-size: (
    null: 1.5rem,
    g.$mobile: 1.6rem,
  ),
);
$card__text-list-item: (
  font-size: (
    null: 1.3rem,
    g.$mobile: 1.4rem,
    g.$tablet: 1.5rem,
    g.$tablet-landscape: 1.6rem,
    g.$desktopSmall: 1.7rem,
    g.$desktop: 1.8rem,
    g.$desktopLarge: 1.9rem,
  ),
  line-height: (
    null: 1.4,
    g.$mobile: 1.5,
    g.$tablet: 1.8,
    g.$tablet-landscape: 1.6,
    g.$desktopSmall: 1.7,
    g.$desktop: 1.8,
    g.$desktopLarge: 1.9,
  ),
  font-weight: 500,
  letter-spacing: 0,
  color: #868686,
  flex: 0 0 50%,
  padding: 0.2rem,
);
$card__text-para: (
  margin: 0,
  font-size: (
    null: 1.2rem,
    g.$mobile: 1.3rem,
    g.$tablet: 1.4rem,
    g.$tablet-landscape: 1.5rem,
    g.$desktopSmall: 1.6rem,
    g.$desktop: 1.7rem,
    g.$desktopLarge: 1.8rem,
  ),
  line-height: (
    null: 1.4,
    g.$mobile: 1.5,
    g.$tablet: 1.8,
    g.$tablet-landscape: 1.6,
    g.$desktopSmall: 1.7,
    g.$desktop: 1.8,
    g.$desktopLarge: 1.9,
  ),
);
.card {
  @include g.printStyles($card);

  &__container {
    @include g.printStyles($card__container);
    &--design {
      border-top: 3px solid g.$DarkBlue;
      @include g.tablet {
        border: none;
      }
      @include g.tablet-landscape {
        border-bottom: 3px solid g.$DarkBlue;
      }
    }
    &--frontEnd {
      border-bottom: 3px solid g.$DarkBlue;
      @include g.tablet {
        border: none;
      }
      @include g.tablet-landscape {
        border-bottom: 3px solid g.$DarkBlue;
      }
    }
  }

  &__top {
    margin: 0.5rem 0;
  }

  &__bottom {
    @include g.tablet {
      padding: 0.5rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    @include g.tablet-landscape {
      margin: 0;
    }
  }

  &__text {
    &-title {
      @include g.printStyles($card__text-title);
    }
    &-altTitle {
      @include g.printStyles($card__text-altTitle);
    }
    &-para {
      @include g.printStyles($card__text-para);
    }
    &-list-item {
      @include g.printStyles($card__text-list-item);
    }
  }
}
