@use '../global' as g;

.top {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  @include g.dynamicMixin("padding", g.$viewPageBasePadding);
  @include g.mobile {
    height: 550px;
  }

  @include g.desktopSmall {
    height: 700px;
  }
  @include g.desktopLarge {
    height: 850px;
  }

  .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6)));
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include g.desktopLarge {
        object-position: 100% -950px;
      }
    }
  }

  .inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  h2 {
    color: white;
    @include g.dynamicMixin("font-size", g.$title);
    letter-spacing: -0.46px;
    width: 80%;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    @include g.desktopSmall {
      width: auto;
      margin-bottom: 0;
    }
  }

  p {
    color: white;
    @include g.dynamicMixin("font-size", g.$paragraph);
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 600;
    @include g.desktop {
      line-height: 1.8;
    }
  }
}

section {
  margin: 0 0 5rem 0;
  @include g.dynamicMixin("padding", g.$viewPageBasePadding);
  @include g.tablet-landscape {
    margin: 0;
  }

  h2 {
    @include g.dynamicMixin("font-size", g.$sectionTitle);
    font-weight: 800;
    letter-spacing: 0;
    color: #282828;
  }

  p {
    margin: 1rem 0;
    letter-spacing: 0;
    max-width: 535px;
    color: #868686;

    @include g.tablet {
      max-width: 575px;
    }
  }
}

.aboutMe {
  position: relative;

  h2 {
  }

  p {
    @include g.printStyles(g.$sectionParagraph);
  }
}

.tools {
  position: relative;
  @include g.tablet {
    display: flex;
    padding: 5rem 10rem;
  }
}

.tool {
  padding: 1rem 0;
  //padding: 0 3rem;
  @include g.mobile {
    padding: 2rem 0;
  }
  @include g.tablet {
    //padding: 0 8rem;
  }
  @include g.tablet-landscape {
    padding: 1rem 2rem;
    flex: 0 0 50%;
  }
  @include g.desktopSmall {
    padding: 1rem 3rem;
  }

  &.design {
    .inner {
      border-top: 2px solid #051d3a;
      @include g.tablet-landscape {
        border-top: none;
        border-bottom: 2px solid #051d3a;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #051d3a;
      top: 0;
      left: 0;
      right: 0;
      height: 400px;
      @include g.tablet-landscape {
        height: 250px;
      }
    }
  }

  &.frontEnd {
    .inner {
      border-bottom: 2px solid #051d3a;
    }
  }
}

$cardTitle: (
  margin: 0,
  font-size: (
    null: 2rem,
    g.$mobile: 2.2rem,
  ),
);
$cardAltTitle: (
  font-size: (
    null: 1.5rem,
    g.$mobile: 1.6rem,
  ),
);
$cardListItem: (
  font-size: (
    null: 1.3rem,
    g.$mobile: 1.4rem,
    g.$tablet: 1.5rem,
    g.$tablet-landscape: 1.6rem,
    g.$desktopSmall: 1.7rem,
    g.$desktop: 1.8rem,
    g.$desktopLarge: 1.9rem,
  ),
  line-height: (
    null: 1.4,
    g.$mobile: 1.5,
    g.$tablet: 1.8,
    g.$tablet-landscape: 1.6,
    g.$desktopSmall: 1.7,
    g.$desktop: 1.8,
    g.$desktopLarge: 1.9,
  ),
  font-weight: 500,
  letter-spacing: 0,
  color: #868686,
  flex: 0 0 50%,
  padding: 0.2rem,
);

$cardPara: (
  margin: 0,
  font-size: (
    null: 1.2rem,
    g.$mobile: 1.3rem,
    g.$tablet: 1.4rem,
    g.$tablet-landscape: 1.5rem,
    g.$desktopSmall: 1.6rem,
    g.$desktop: 1.7rem,
    g.$desktopLarge: 1.8rem,
  ),
  line-height: (
    null: 1.4,
    g.$mobile: 1.5,
    g.$tablet: 1.8,
    g.$tablet-landscape: 1.6,
    g.$desktopSmall: 1.7,
    g.$desktop: 1.8,
    g.$desktopLarge: 1.9,
  ),
);

.card {
  background-color: white;
  margin: 0 auto;
  padding: 3rem 2rem;
  border-radius: 12px;
  transform: translateY(-75px);
  min-height: 300px;
  z-index: 1;
  position: relative;
  @include g.mobile {
    padding: 3rem;
    transform: translateY(-120px);
  }
  @include g.tablet {
    width: 80%;
  }

  @include g.tablet-landscape {
    transform: translateY(0);
    width: auto;
    padding: 2rem;
  }
  @include g.desktopSmall {
    padding: 3rem;
  }

  &__top {
    margin: 0.5rem 0;
  }

  &__bottom {
    @include g.tablet {
      padding: 0.5rem;
    }
  }
  &__title {
    @include g.printStyles($cardTitle);
  }
  &__altTitle {
    @include g.printStyles($cardAltTitle);
  }

  &__list {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    @include g.tablet-landscape {
      margin: 0;
    }
  }
  &__item {
    @include g.printStyles($cardListItem);
  }
  &__para {
    @include g.printStyles($cardPara);
  }
}
