@use "../mixins/mediaQueries" as *;

$title: (
  null: 2.8rem,
  $mobile: 3.2rem,
  $tablet: 4rem,
  $tablet-landscape: 4.2rem,
  $desktopSmall: 4.6rem,
  $desktop: 4.8rem,
  $desktopLarge: 5.2rem,
);
$sectionTitle: ();

$sectionParagraph: (
  font-size: (
    null: 1.4rem,
    $mobile: 1.5rem,
    $tablet: 1.6rem,
    $tablet-landscape: 1.7rem,
    $desktopSmall: 1.8rem,
    $desktop: 1.9rem,
    $desktopLarge: 2rem,
  ),
  line-height: (
    null: 1.4,
    $mobile: 1.5,
    $tablet: 1.6,
    $tablet-landscape: 1.7,
    $desktopSmall: 1.8,
    $desktop: 1.9,
    $desktopLarge: 2,
  ),
);

$paragraph: (
  null: 1.4rem,
  $mobile: 1.5rem,
  $tablet: 1.6rem,
  $tablet-landscape: 1.7rem,
  $desktopSmall: 1.8rem,
  $desktop: 1.9rem,
  $desktopLarge: 2.2rem,
);

$tinyFS: (
  null: 1.2rem,
  $mobile: 1.3rem,
  $tablet: 1.4rem,
  $tablet-landscape: 1.5rem,
  $desktopSmall: 1.6rem,
  $desktop: 1.7rem,
  $desktopLarge: 1.8rem,
);

//$--smFS: (
//  null: 1.3rem,
//  mediaQueries.$mobile:1.4rem,
//  mediaQueries.$tablet:1.5rem,
//  mediaQueries.$tablet-landscape:1.6rem,
//  mediaQueries.$desktopSmall:1.7rem,
//  mediaQueries.$desktop:1.8rem,
//  mediaQueries.$desktopLarge: 1.9rem
//);

$baseFS: (
  null: 1.4rem,
  $mobile: 1.5rem,
  $tablet: 1.6rem,
  $tablet-landscape: 1.7rem,
  $desktopSmall: 1.8rem,
  $desktop: 1.9rem,
  $desktopLarge: 2rem,
);
