$--headerHeight: (
  null: 60px,
  $tablet: 80px,
  $tablet-landscape: 100px,
);

$--paraWidth: (
  null: 535px,
  $tablet: 575px,
  $tablet-landscape: 650px,
  $desktopSmall: 800px,
  $desktopLarge: 900px
);
