@use './classNames/viewDefaults';

$-font-Poppins: "Poppins", san-serif;
$-font-Raleway: "Raleway", san-serif;
html {
  font-family: $-font-Poppins;
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: white;
  //min-width: 300px;
  //overflow-x: hidden;
  //overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

body {
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
